<footer class="footer">
        <div class="container">
            <div class="course-text">
                <p>Курсы английского в Киеве</p>
            </div>
            <div class="course">
                <div class="main-text-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="main-info">
                       <div class="img">
                           <img src="img/klass.jpg" alt="" class="img-responsive">
                           <img src="img/logo2.png" alt="" class="logo img-responsive">
                           <div class="price">
                               <p>от 55 грн</p>
                           </div>
                       </div>
                       <div class="text">
                           <p>Курсы английского в Киеве</p>
                       </div>
                        <div class="location">
                            <span class="inline-mid icon-black_flat"></span>
                            <p class="inline-mid">Украина Киев</p>
                        </div>
                    </div>
                </div>
                <div class="main-text-two col-lg-3 col-md-4 col-sm-6">
                    <div class="main-info">
                        <div class="img">
                            <img src="img/klass.jpg" alt="" class="img-responsive">
                            <img src="img/logo2.png" alt="" class="logo img-responsive">
                            <div class="price">
                                <p>от 55 грн</p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Курсы английского в Киеве</p>
                        </div>
                        <div class="location">
                            <span class="inline-mid icon-black_flat"></span>
                            <p class="inline-mid">Украина Киев</p>
                        </div>
                    </div>
                </div>
                <div class="main-text-two col-lg-3 col-md-4">
                    <div class="main-info">
                        <div class="img">
                            <img src="img/klass.jpg" alt="" class="img-responsive">
                            <img src="img/logo2.png" alt="" class="logo img-responsive">
                            <div class="price">
                                <p>от 55 грн</p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Курсы английского в Киеве</p>
                        </div>
                        <div class="location">
                            <span class="inline-mid icon-black_flat"></span>
                            <p class="inline-mid">Украина Киев</p>
                        </div>
                    </div>
                </div>
                <div class="main-text-two col-lg-3">
                    <div class="main-info">
                        <div class="img">
                            <img src="img/klass.jpg" alt="" class="img-responsive">
                            <img src="img/logo2.png" alt="" class="logo img-responsive">
                            <div class="price">
                                <p>от 55 грн</p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Курсы английского в Киеве</p>
                        </div>
                        <div class="location">
                            <span class="inline-mid icon-black_flat"></span>
                            <p class="inline-mid">Украина Киев</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>