<section class="main">
    <div class="container">
        <div class="main-text">
            <div class="row">
                <div class="main-text-two col-lg-3 col-md-4 col-lg-push-9 col-md-push-8 col-sm-12 col-xs-12">
                    <div class="head-info">
                        <p class="inline-mid">Курсы</p>
                        <br>
                        <p class="small">Английский язык</p>
                    </div>
                    <div class="main-info">
                        <img src="img/logo2.png" alt="" class="img-responsive logo">
                        <div class="star">
                            <span class="inline-mid icon-star"></span>
                        </div>
                        <img src="img/klass.jpg" alt="" class="img-responsive">
                        <div class="school">
                            <span class="inline-mid icon-ok"></span>
                            <p class="inline-mid">
                                Школа</p>
                            <p class="test">
                                «Let's Speak»
                            </p>
                            <div class="school-info">
                                <p>Репетиторы носители языка
                                    главное наше преимущество Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magnam optio quod.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="location">
                            <span class="inline-mid icon-black_flat"></span>
                            <p class="inline-mid">Украина Киев</p>
                        </div>
                    </div>
                </div>

            <div class="main-text-one col-lg-9 col-lg-pull-3 col-md-8 col-md-pull-4 col-sm-12 col-xs-12">
                <div class="head-info">
                    <span class="inline-mid icon-herb"></span>
                    <p class="inline-mid">Английский для детей</p>
                    <br>
                    <p class="small text-left">Лучше раньше, чем никогда</p>
                </div>
                <div class="main-info">
                    <span class="inline-mid icon-knowledge"></span>
                    <p class="inline-mid">В каком возрасте начать обучение?</p>
                    <div class="inline-mid menu-up">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </div>
                    <br>
                    <p class="small">До пяти лет дети обладают лингвистической гениальностью. Они способны запоминать 20-30 новых слов в день. Простая арифметика дает впечатляющий результат – 7-10 тысяч слов в год. Да мы и в родном русском столько не используем, а что говорить об иностранном. Способности к языкам, безусловно, либо есть, либо нет. </p>
                </div>
                <div class="footer-info">
                    <span class="inline-mid icon-knowledge"></span>
                    <p class="inline-mid">В каком возрасте начать обучение?</p>
                    <div class="inline-mid menu-down">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</section>