<header class="bg-primary text-uppercase text-center">
    <div class="container">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 fix">
            <a class="mobile" href="#">sl</a>
            <a class="desktop" href="#">site logo</a>
        </div>
        <div class="col-xs-4 col-sm-7 col-md-8 col-lg-8 fix flat">
            <input type="text">
            <div class="dropdown">
                <span class="inline-mid icon-flat"></span>
                <span class="caret"></span>
            </div>
            <div class="search">
                <span class="inline-mid icon-search"></span>
            </div>
        </div>

        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 fix">
            <span class="inline-mid icon-bell desktop"><span class="badge">4</span></span>
            <span class="inline-mid icon-bell-2 mobile"></span>
            <span class="inline-mid icon-photo"></span>
        </div>
    </div>
</header>